<?xml version="1.0"?>
<!--
/**
 *
 * @category   Krish
 * @package    Ktpl_Quickview
 * @author     Extension Team
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="layout_load_before">
		<observer name="ktpl_quickview" instance="Ktpl\Quickview\Observer\AddUpdateHandlesObserver" />
	</event>
</config>
