<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ktpl" translate="label" sortOrder="10">
            <label>Ktpl Extensions</label>
        </tab>
        <section id="ktpl" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Delivery Days</label>
            <tab>ktpl</tab>
            <resource>Ktpl_DeliveryDays::parent</resource>
            <group id="delivery_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Available Delivery Days Configuration</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="template" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Template</label>
                    <frontend_model>Ktpl\DeliveryDays\Block\Adminhtml\Form\Field\Template</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>