<?xml version="1.0"?>
<!--
/**
 *
 * @category   Krish
 * @package    Ktpl_Quickview
 * @author     Extension Team
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ktpl_Quickview" setup_version="1.0.7" >
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
        <sequence>
        	<module name="Magento_CatalogSearch"/>
		</sequence>
		<sequence>
        	<module name="Magento_Widget"/>
		</sequence>
    </module>
</config>
