<!--
/**
 * @category  Ktpl
 * @package   Ktpl_SocialLogin
 */
 -->

<!-- ko if: isActive() -->
<div class="block social-login-authentication-popup col-mp">
    <div class="block-content" data-bind="foreach: socials()">
        <div class="actions-toolbar social-btn" data-bind="css: key + '-login'">
            <a class="btn btn-block btn-social"
               data-bind="css: 'btn-' + btn_key, socialButton: $parent.isActive, url: url">
                <span class="fa" data-bind="css: 'fa-' + btn_key"></span>
                <p style="padding: 0px 20px;" data-bind="text: 'Sign in with ' + label"></p>
            </a>
        </div>
    </div>
</div>
<!-- /ko -->